.gif {
    float: left;
    margin-right: 10px;
}

.gifImage {
    border: solid 3px #17a2b8;
    border-radius: 25px 50px;
}

.transportImage {
    border: solid 3px #ffc107;
    border-radius: 25px 50px;
}

.foodsImage {
    border: solid 3px #28a745;
    border-radius: 25px 50px;
}

#memeTopicsRow {
    border-bottom: 2px solid #17a2b8;
    margin-bottom: 15px;
}


#transportTopicsRow {
    border-bottom: 2px solid #ffc107;
    margin-bottom: 15px;
    display: none;
}

#foodsTopicsRow {
    border-bottom: 2px solid #28a745;
    margin-bottom: 15px;
    display: none;
}

button {
    margin-right: 10px;
}

#topRow {
    margin-top: 20px;
}